//  CARD-TAGS   //
  
.card-tags
  font-size: 10px
  display: flex
  font-weight: bold

  > span
    @extend .centering-container
    margin-right: 6px
    padding: 0 9px
    border-radius: 3px
    color: white
    font-variant: lining-nums
  
  &__new
    background-color: #53902c
  
  &__discount
    background-color: #e83841
