// GENERAL PROJECT STYLES

.wrapper
    max-width: 1770px
    margin-left: auto
    margin-right: auto 

.swiper-slide
    width: 346px
    height: 500px
    background-color: #000

.swiper-container
    width: auto
    height: 500px
