//  PAGE-SLIDER   //

$productCardWidthBase: 346px
$productCardHeightBase: 650px

.page-slider
  max-width: 1770px
  margin: auto
  > .swiper-container
    overflow: visible

  &__cards-wrapper
    padding: 0
    margin: 0

  &__heading
    margin-bottom: 2.857rem //40px

  .product-card
    width: $productCardWidthBase
    height: $productCardHeightBase
    margin-right: .714em // 10 px

  > .swiper-button-prev
    top: 0
    margin: 0
    right: 47px
    left: auto
    width: 37px
    height: 48px

  > .swiper-button-next
    top: 0
    margin: 0
    right: 0
    left: auto
    width: 37px
    height: 48px

  &__cards-wrapper
    margin: 0
    padding: 0 

@include media-breakpoint-down(sm)
  //

@include media-breakpoint-down(md)
  //

@include media-breakpoint-down(lg)
  .product-card
    width: rfs-fluid-value(346px)
    height: rfs-fluid-value(650px)

@include media-breakpoint-down(xl)
  .page-slider
    max-width: 92.18%
  .product-card
    width: $productCardWidthBase * 0.7
    height: $productCardHeightBase * 0.7

@include media-breakpoint-down(xxl)
  .page-slider
    max-width: 92.18%