//  PAGE-SLIDER   //

// variables

$cards-container_Height: 650px
$product-card_Width: 346px

// styles

.page-slider
  &__cards-container
    overflow: visible
    height: $cards-container_Height

  &__cards-wrapper
    padding: 0
    margin: 0

  &__head
    display: flex
    margin-bottom: 2.55rem //40px
    
  &__heading
    flex: 1
    margin-bottom: 0

  &__button
    position: relative
    margin: auto 1em
    padding: .7em
    height: 0
    width: 0
    background-color: #f2f2f2
    border-radius: 50%

    top: 5px
    right: unset
    bottom: unset
    left: unset

  &__cards-wrapper
    margin: 0
    padding: 0     

  > .swiper-button-prev
    top: 0
    margin: 0
    right: 47px
    left: auto
    width: 37px
    height: 48px
    background-color: #f2f2f2
    border-radius: 50%
  > .swiper-button-prev::after
    z-index: 10

  > .swiper-button-next
    top: 0
    margin: 0
    right: 0
    left: auto
    width: 37px
    height: 48px
  > .swiper-button-next::after
    background-color: #f2f2f2
    border-radius: 50%




.product-card
  width:  $product-card_Width
  height: 100%
  margin-right: 10px

// MEDIA

@include media-breakpoint-down(xxl)
  .page-slider
    &__cards-container
      height: $cards-container_Height
    
  .product-card
    width:  $product-card_Width
    font-size: 14px

@include media-breakpoint-down(xl)
  .page-slider
    &__cards-container
      height: $cards-container_Height * 0.7
    &__head
      margin-bottom: 1.8rem
    &__heading
      font-size: 1.75rem
      
  .product-card
    font-size: 10px
    width: $product-card_Width * 0.7

@include media-breakpoint-down(lg)
  .page-slider
    &__cards-container
      height: $cards-container_Height * 0.6
    &__head
      margin-bottom: 1rem
    &__heading
      font-size: 1.3rem
      
  .product-card
    font-size: 10px
    width: $product-card_Width * 0.6

@include media-breakpoint-down(md)
  .page-slider
    &__cards-container
      height: $cards-container_Height * 0.56
  .product-card
    font-size: 10px
    width: $product-card_Width * 0.56
@include media-breakpoint-down(sm)
  //
