.page-slider > .swiper-container
  overflow: visible

.page-slider__heading
  margin-bottom: 40px

.page-slider > .swiper-button-prev
  top: 0
  margin: 0
  right: 47px
  left: auto
  width: 37px
  height: 48px

.page-slider > .swiper-button-next
  top: 0
  margin: 0
  right: 0
  left: auto
  width: 37px
  height: 48px