.product-card
  height: 650px
  width: 346px
  display: flex
  flex-direction: column
.product-card__description
  height: 27%
  flex: 1

.page-slider__images-wrapper
  width: 100%
  height: 73%
  background-color: #cccccc
.page-slider__images-wrapper > .swiper-wrapper
  height: 100%
  width: 100%
  img
    height: 100%
    width: auto

.product-card .card-tags
  position: absolute
  height: 19px
  margin-top: -13px
  z-index: 1

.product-card__description
  display: flex
  flex-direction: column
.product-card__description > *
  margin: 0.8em

.product-card__main-description
  flex: 1
.product-card__minor-description
  flex: 1

.product-card__main-description_line-through
  text-decoration: line-through
  font-weight: normal
.product-card__main-description_red-price
  color: #e83841
  padding-left: 0.6em

.product-card__see-more
  text-align: center


//hover эфект 
@media (hover: hover)
  .product-card,           // < двигаем z-index'ы чтобы карточка заползала на соседов
  .product-card > .page-slider__images-wrapper,
  .product-card > .product-card__description
    z-index: 0
  .product-card:hover
    z-index: 1 

  .product-card::before
    content: ""
    position: absolute
    transition-duration: .1s
    transition-property: top, right, bottom, left, box-shadow
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: #fff
  .product-card:hover:before
    top: -0.666em
    right: -0.666em
    bottom: -0.666em
    left: -0.666em
    box-shadow: -0.214em .214em .785em .333em rgb(12 12 12 / 5%)
    border: .071em solid #cec9c9
  
  .product-card__minor-description, //hover эффект появления элементов карточки
  .product-card__see-more,
  .product-card .swiper-button-prev, 
  .product-card .swiper-button-next    
    opacity: 0
    transition-property: opacity
    transition-duration: .1s

  .product-card:hover .product-card__minor-description,
  .product-card:hover .product-card__see-more,
  .product-card:hover .swiper-button-prev,
  .product-card:hover .swiper-button-next
    opacity: 1
  .product-card:hover .swiper-button-next.swiper-button-disabled,
  .product-card:hover .swiper-button-prev.swiper-button-disabled
    opacity: .35!important

