// USER VARIABLES SECTION

$accent: #7caa42 // Accent Color
$second-accent: #e83841
$fontsize: 14px // Body Font Size
$textcolor: #1c1f26 // Text Color
$lineheight: 1.7 // Document Line Height
$userfont: Raleway, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

// IMPORT SECTION

// Необходимые
@import "node_modules/bootstrap/scss/functions"
@import "node_modules/bootstrap/scss/variables"
@import "node_modules/bootstrap/scss/mixins"

// Включите здесь переопределения пользовательских переменных по умолчанию
@import "_bootstrap-overriding"

// Необязательные
@import "node_modules/bootstrap/scss/reboot"
@import "node_modules/bootstrap/scss/type"
@import "node_modules/bootstrap/scss/images"
@import "node_modules/bootstrap/scss/grid"

@import "node_modules/swiper/swiper-bundle"

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
  @font-face
    font-family: $fname
    font-style: $fstyle
    font-weight: $fweight
    src: url($furl) format('woff2')

@include font('Raleway', normal, 300, '../fonts/Raleway-Light.woff2')
@include font('Raleway', italic, 300, '../fonts/Raleway-LightItalic.woff2')
@include font('Raleway', normal, 400, '../fonts/Raleway-Regular.woff2')
@include font('Raleway', italic, 400, '../fonts/Raleway-Italic.woff2')
@include font('Raleway', normal, 500, '../fonts/Raleway-Medium.woff2')
@include font('Raleway', italic, 500, '../fonts/Raleway-MediumItalic.woff2')
@include font('Raleway', normal, 700, '../fonts/Raleway-Bold.woff2')
@include font('Raleway', italic, 700, '../fonts/Raleway-BoldItalic.woff2')
