// MAIN SECTION //
  
// general settings and bootstrap
@import config

// BEM
@import 'blocks/**/*'

// any other styles

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

input, textarea
  outline: none
  &:focus:required:invalid
    border-color: red
    &:required:valid
      border-color: green
html
  font-size: $fontsize
  font-variant: lining-nums
body
  font-family: $userfont
  line-height: $lineheight
  color: $textcolor
  position: relative
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  font-weight: 300
  color: #000

// ATOMIC CSS

.centering-container
  display: flex
  align-items: center
  justify-content: center
  > *
    align-items: unset

.boldText
  font-weight: bold

.minor-TextAccent
  font-weight: 500